
body{
    background-color:#264653;
    color: beige;
}

form{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10% 10px 10%;
    
}
.enviar-btn {
    font-size: 20px;
    padding: 10px 0 10px 0;
    background-color:#e5e5e5 ;
    
  }
#enviar-pago{
    font-size: 20px;
    padding: 10px 0 10px 0;
    background-color:#e5e5e5 ; 
}
  

h1{
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}
@media (min-width: 768px) {
    form{
        padding: 10px 25% 10px 25%; 
}

@media (max-width: 450px) {
    li{
        font-size: 6px;
    }
}



    
}
.visualizacion{
    display: flex;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
    gap: 2px; /* Espacio entre las columnas */
   
}
  
.grid-item {
    border: 3px beige solid; 
}
.grid-item li{
   padding-left: 5px;
   
}
.facturas {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}
  
.montoAdeudado {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}
.facturas li {
    margin-top: 2px;
}
.montoAdeudado li{
    margin-top: 1px; 
}  
li {
    list-style-type: none;
  }  
